* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: #1b244a;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  background-color: #1b244a;
  margin-bottom: -1px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.item h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eeeeee;
  font-size: 40px;
}

.score-box {
  width: 155px;
  height: 120px;
  background-color: #080001;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f94f6d;
  font-size: 96px;
  font-family: "Cursed Timer ULiL", sans-serif;
}

.btn-container {
  width: 155px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  width: 40px;
  height: 40px;
  background: none;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  color: #9aabd8;
  font-family: "Cursed Timer ULiL", sans-serif;
  cursor: pointer;
}

.newgame-container {
  height: 100px;
  background-color: #1b244a;
  display: flex;
  justify-content: center;
  align-items: center;
}
